{
  "presets": [
    ["env", {
      "modules": false
    }], 
    "react",
    ["minify", {
      "evaluate": false,
      "mangle": true
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-classes",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}